<%- include('partials/header.ejs', { user }) %> 


<div class="container">
    <h1 class="text-center">Drink details/Comments</h1>
    <p class="text-center">
      <button class="btn btn-outline-danger"><a href="/" style="color:white; text-decoration:none">Back to Homepage</a></button>
      <% if (user) { %>
      <button class="btn btn-outline-danger"><a href="/users/favorites" style="color:white; text-decoration:none">Back to Favorites</a></button>
      <% } %>
    </p>
<!-- displays individual cocktail recipe details -->
    <div class="d-flex flex-row flex-wrap justify-content-center justify-content-evenly">
        <div class="card border-primary bg-info mb-3 text-center" style="width: 15vw; height: 50px  ms-5;">
            <h3 class="card-title h-10 d-inline-block" style="color:rgb(222, 58, 63);"><%= display.name.toUpperCase() %></h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item fs-4 bg-info">Ingredients: </li>
                <li class="list-group-item bg-info"><%= display.ingredients %> </li>
                <li class="list-group-item fs-4 bg-info">Instructions: </li>
                <li class="list-group-item bg-info"><%= display.instructions %></li>
            </ul>
        </div>
    </div>
<!-- posting a comment to comment section -->
    <div class="d-flex flex-row flex-wrap justify-content-center justify-content-evenly">
        <div class="card" style="width: 20rem;">
            <ul class="list-group list-group-flush">

                <form method="POST" action="/drinks/<%= display.name %>">
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item bg-info">
                            <label for="name">Username:</label>
                            <input id="name" type="text" autocomplete="off" placeholder="Your Name here..." name="name" required />
                        </li>
                        <li class="list-group-item bg-info">
                            <label for="content">Comment:</label>
                            <input id="content" type="text" autocomplete="off" placeholder="Enter Your Comment..." name="content" required />
                        </li>
                        <li class="list-group-item d-flex justify-content-center bg-info">
                            <button class="btn btn-outline-danger" type="submit">Add Comment</button>
                        </li>
                    
                    </ul>
                </form>
            </ul>
        </div>
    </div>

    <!-- renders comment section  -->
    <div class="d-flex flex-row" style="width: 25rem;">
        <% comments.forEach(function(comment) {%>
            <div class="card text-center">
                <ul class="list-group list-group-flush bg-info">
                    <li class="list-group-item fw-bolder text-wrap bg-info"><%= comment.userName %></li>
                    <li class="list-group-item text-wrap bg-info"><%= comment.comment %></li>
                </ul>
            </div>
        <% })%>
    </div>
    
</div>

<!-- <div class="container" style="width:100%; height:450px"></div> -->

<%- include('partials/footer.ejs') %>