<%- include('partials/header.ejs', { user }) %> 


<div class="container">
    <h1 class="text-center">Drink details/Comments</h1>
    <p class="text-center">
      <button class="btn btn-primary"><a href="/" style="color:white; text-decoration:none">Back to Homepage</a></button>
      <% if (user) { %>
      <button class="btn btn-primary"><a href="/users/favorites" style="color:white; text-decoration:none">Back to Favorites</a></button>
      <% } %>
    </p>

    <div class="details-container">
        <div class="well">
          <p> <%= display.name %> </p>
          <p> <%= display.ingredients %> </p>
          <p> <%= display.instructions %> </p>
        </div>
    </div>

    <form method="POST" action="/drinks/<%= display.name %>">
        <label for="name">Username: </label>
        <input id="name" type="text" autocomplete="off" placeholder="Your Name here..." name="name" required />

        <label for="content">Comment:</label>
        <input id="content" type="text" autocomplete="off" placeholder="Enter Your Comment..." name="content" required />

        <button type="submit">Add Comment</button>
    </form>

    <div>
        <% comments.forEach(function(comment) {%>
            <p> <%= comment.userName %> </p>
            <p> <%= comment.comment %> </p>
        <% })%>
    </div>
    
</div>



<%- include('partials/footer.ejs') %>