<%- include('partials/header.ejs', { user }) %> 


<div class="container">
    <h1 class="text-center">Comments</h1>
    <p class="text-center">
      <button class="btn btn-primary"><a href="/" style="color:white; text-decoration:none">Back to Homepage</a></button>
    </p>

    <div class="faves-container">
        <div class="well">
          <p> <%= display.name %> </p>
          <p> <%= display.ingredients %> </p>
          
          <p> <%= display.instructions %> </p>
        </div>
    </div>
    <form method="POST" action="/drinks/<%= display.id %>/comment">
        <label for="name">Username: </label>
        <input id="name" type="text" placeholder="Your Name here..." name="name" required />

        <label for="content">Comment:</label>
        <input id="content" type="text" placeholder="Enter Your Comment..." name="content" required />

        <button type="submit">Add Comment</button>
      </form>
    <div>
        
    </div>
</div>



<%- include('partials/footer.ejs') %>