<%- include('partials/header.ejs', { user }) %> 

<!-- Home page  -->
<div class="card mx-auto p-3 mb-2 bg-transparent text-dark" style="width: 50rem; margin: 50px;">
    <div class="card-body">
        <h2 class="card-title text-center" style="color:rgb(226, 43, 104);">Search for a recipe</h5>
        <h4 class="card-text mb-2 text-center" style="color:rgb(128, 26, 159);font-size:30px">Please drink responsibly</h4>
        <p class="card-text text-center" style="color:white;font-size:20px">Include one of the following search parameters: </p>
        <p class="card-text" style="color:white;font-size:20px">Name: name of cocktail. This parameter supports partial matches (e.g. bloody will match bloody mary and bloody margarita) </p>
        <p class="card-text" style="color:white;font-size:20px">Ingredients: comma-separated string of ingredients to search. Only cocktails containing all listed ingredients will be returned. For example, to search cocktails containing Vodka and lemon juice, use vodka, lemon juice.</p>
            
        <div class="container-fluid">
            <form class="d-flex" method="GET" action="/">
                <input class="form-control me-2" autocomplete="off" name="search" type="text" placeholder="Search for a recipe" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
        </div>

    </div>
</div>




<div class="d-flex flex-row flex-wrap justify-content-center justify-content-evenly">
    <% results.forEach(function(cocktail){%>
    
        <div class="card border-danger bg-info mb-3 text-center" style="width: 15vw; height: 50px  ms-5;">
                
                <div class="card text-center bg-info">
                    <form method="GET" action="/drinks">
                        <h3 class="card-title h-10 d-inline-block"><a href="/drinks/<%= cocktail.name %>" style="color:rgb(222, 58, 63);"><%= cocktail.name.toUpperCase() %></a></h3>
                    </form>
                </div>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item fs-4 bg-info">Ingredients: </li>
                    <li class="list-group-item bg-info"><%= cocktail.ingredients %> </li>
                    <li class="list-group-item fs-4 bg-info">Instructions: </li>
                    <li class="list-group-item bg-info"><%= cocktail.instructions %></li>
                </ul>

                <div class="card-body d-flex align-items-end justify-content-center">
                    <% if (user) { %>
                    <form method="POST" action="/users/favorites">
                        <input hidden type="text" name="name" value="<%= cocktail.name %>">
                        <input hidden type="text" name="ingredients" value="<%= cocktail.ingredients %>">
                        <input hidden type="text" name="instructions" value="<%= cocktail.instructions %>">
                        <button class="btn btn-outline-danger" type="submit">Add to Favorite Cocktails</button>
                    </form>

                    <% } else { %>
                    <form method="GET" action="/users/new">
                        <input hidden type="text" name="name" value="<%= cocktail.name %>">
                        <input hidden type="text" name="ingredients" value="<%= cocktail.ingredients %>">
                        <input hidden type="text" name="instructions" value="<%= cocktail.instructions %>">
                        <button class="btn btn-outline-danger" type="submit">Sign up to Add to Your Favorite Cocktails</button>
                    </form>
                    <% } %>
                </div>

        </div>

    <% }) %>
</div>

<div class="container" style="width:100%; height:700px">

</div>
<%- include('partials/footer.ejs') %>