<!-- Users' Favorite cocktails page -->
<%- include('../partials/header', { user }) %>


<div class="container">
    <h1 class="text-center">Favorite Cocktails</h1>
    <p class="text-center">
      <button class="btn btn-primary"><a href="/" style="color:white; text-decoration:none">Back to Homepage</a></button>
      <!-- <a href="/results">Back to Results</a> -->
    </p>

    <div class="faves-container">
      <% favedResults.forEach(function(cocktail) {%>
        <div class="well">
          <h3> <%= cocktail.name %> </h3>
          <ul> 
            <% cocktail.ingredients.split(',').forEach(ingredient => { %> 
              <li> <%= ingredient %> </li>
              <% }) %> 
          </ul>
          <p> <%= cocktail.instructions %> </p>
          <!-- delete form to remove cocktail from favorites -->
          <form method="POST" action="/users/favorites/<%= cocktail.id %>/?_method=DELETE">
            <button class="btn btn-primary" type="submit">Delete From Favorites</button>
          </form>
              <!-- not sure why this method doesn't work -->
          <!-- <form method="DELETE" action="/users/favorites/<%= cocktail.id %>/?">
            <button class="btn btn-primary" type="submit">Delete From Favorites</button>
          </form> -->
          
          <!-- button that directs user to comment section for individual drink -->
        </div>
      <%})%>
    </div>
</div>

<%- include('../partials/footer.ejs') %>